:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  scroll-behavior: smooth !important;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.controlls {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
input {
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 0.8rem;
}
.tile-button {
  width: 400px;
  height: 400px;
}
.movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover,
input:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

main {
  text-align: center;
  padding: 1em;
  margin: 0 auto;
}

h1 {
  color: #ff3e00;
  text-transform: uppercase;
  font-size: 4em;
  font-weight: 100;
}
tile {
  cursor: pointer;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2%;
  border-radius: 2rem;
  max-width: 618px;
}
img {
  max-height: 335px;
  border-radius: 2rem;
}
.overlay-container {
  height: 400px;
  animation-name: expand;
  animation-duration: 1s;
  margin: 3rem 0 2rem 0;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.overlay-content {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.overlay-content img {
  max-height: 200px;
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

@keyframes expand {
  from {
    opacity: 0;
    margin: 0rem 0 2rem 0;
    height: 200px;
  }
  to {
    margin: 3rem 0 2rem 0;
    opacity: 1;
    height: 400px;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (min-width: 640px) {
  main {
    max-width: none;
  }
}
